@font-face {
    font-family: 'Helvetica'; 
    src: url('fuenteHelvetica/HelveticaNowText-Regular.woff') format('woff'); /* Formato WOFF para compatibilidad */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'HelveticaBold'; 
    src: url('fuenteHelvetica/HelveticaNowText-Bold.woff') format('woff'); /* Formato WOFF para compatibilidad */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'HelveticaThin'; 
    src: url('fuenteHelvetica/HelveticaNowText-ExtraLight.woff') format('woff'); /* Formato WOFF para compatibilidad */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'HelveticaCursiva'; 
    src: url('fuenteHelvetica/HelveticaNowText-ExtLtIta.woff') format('woff'); /* Formato WOFF para compatibilidad */
    font-weight: normal;
    font-style: normal;
  }
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(rgb(0, 0, 0), rgb(48, 48, 48));
    font-family: 'Helvetica';
    
}

/* Header */

.header{
    background-color: rgb(196, 0, 0);
    height:90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logocine{
    height: 60px;
}
.right {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: white;
    font-size: 20px;

}
.promo,.pelis,.billetes{
    margin-right: 30px;
    margin-left: 30px;
}

.left, .right{
    margin: 20px 40px;
}


/* Header */

.principal{  
    height:100vh;
    height: calc(100vh - 90px);
    overflow-y: hidden;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent), 
              url('multimedia/cinefondodegradado.png') center/cover no-repeat;
    background-position: right center; /* Mueve el fondo hacia la derecha */

}
/* Home */
.home{
    background-repeat: no-repeat;
    background-size:60vh;
    background-position: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.izquierda{
    margin-left:12%;
}
.derecha{

}
.textopresentacion{
    margin-left: 20%;
}
.f1{
    color: white;
    font-family: 'HelveticaCursiva';
    font-size: 100px;
    margin-bottom: -28px;
    margin-left:1%;
}
.f2{
    color: white;
    font-family: 'HelveticaBold';
    font-size: 110px;
    margin:0;
}
.f3{
    color: white;
    font-family: 'HelveticaThin';
    font-size: 28px;
    margin:0;
    margin-left:1%;
    width: 65%;
}

.izquierda img{
    height: 600px;
}

.botonhome {
    margin-left:1%;margin-top:3%;
    font-family: 'HelveticaBold';
    display: inline-block;
    padding: 15px 30px;
    border-radius: 30px; /* Ajusta el valor según desees un redondeo más o menos pronunciado */
    background-color: red; /* Color de fondo rojo */
    color: black; /* Color de texto negro */
    text-decoration: none; /* Elimina subrayado si es un enlace */
    border: none; /* Elimina el borde para que se vea más redondeado */
    cursor: pointer;
  }
/* Home */

.cartelera {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 80px; /* Ajusta el margen según tus preferencias */
}

.titulocartelera{
    font-size: 350%;
    margin-left:10%;
    color:white;
    text-align: left;
}
.subtitulo1cartelera{
    font-family: 'HelveticaThin';
    margin-left:10%;
    color:white;
    text-align: left;
    font-size: 250%;
    margin-bottom: 0%;

}
.linearoja{
    margin-left: 10%;
    width: 80%; /* Ancho del rectángulo */
    height: 6px; /* Altura del rectángulo */
    background-color: darkred; /* Borde rojo oscuro de 2 píxeles */


}
.peliculas img {
    width: 13%; /* Ajusta el tamaño de las imágenes según tus preferencias */
    margin: 30px; /* Ajusta el margen entre las imágenes según tus preferencias */
}
/*redonder imagenes cargadas js  */
.rounded-image {
    border-radius: 10px; /* Ajusta el valor según el redondeo deseado */
}

#ticketForm {
    width: 100%; /* Ajusta el ancho del formulario según tus preferencias */
    text-align: center;
}
/*
.cartelera{
    background-image: none;
}
.peliculas,img{
    height:700px;
}